{% extends "UnoegohhRetailBundle:Default:layout.html.twig" %}


{% block head %}
    {% if page.keywords is defined %}
        <meta name="keywords" content="{{ page.keywords}}">
    {% endif %}
    {% if page.description is defined %}
        <meta name="description" content="{{ page.description}}">
    {% endif %}
{% endblock %}

{% block content %}
    <h3>{{ page.header }}</h3>

    {{ page.content | raw }}
{% endblock %}