{% extends "UnoegohhRetailBundle:Default:base.html.twig" %}


{% block body %}
    <div class="container">
        {% render "UnoegohhRetailBundle:Menu:topMenu" %}
        <div class="row">
            <div class="span3">

                {% render "UnoegohhRetailBundle:Menu:leftMenu" %}
            </div>
            <div class="span9">

                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}